<div class="btn-group pull-right">
<%= link_to '查看所有任务',tasks_path,:class => 'btn' %> 
<a href="#taskModal" role="button" class="btn btn-success" data-toggle="modal">创建新任务</a>
</div>
<div id="tasks_wall" class="span12" style="margin:auto;"></div>
<script type="text/javascript">
  $(function() {
    window.router = new Miamir.Routers.KanbanRouter({backlog_tasks: <%= @backlog_tasks.to_json.html_safe -%>,ready_tasks: <%= @ready_tasks.to_json.html_safe -%>,progress_tasks: <%= @progress_tasks.to_json.html_safe -%>,done_tasks: <%= @done_tasks.to_json.html_safe -%>});
    Backbone.history.start();
  });
</script>

<div id="taskModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">填写任务信息</h3>
  </div>
  <div class="modal-body">
    <%= render 'tasks/form'%>
  </div>
  
</div>
