<%= link_to 'Create A Task',new_task_path,:class => 'btn btn-large pull-right' %>
<div id="tasks_wall" class="span12" style="margin:auto;"></div>
<script type="text/javascript">
  $(function() {
    window.router = new Miamir.Routers.KanbanRouter({backlog_tasks: <%= @backlog_tasks.to_json.html_safe -%>,ready_tasks: <%= @ready_tasks.to_json.html_safe -%>,progress_tasks: <%= @progress_tasks.to_json.html_safe -%>,done_tasks: <%= @done_tasks.to_json.html_safe -%>});
    Backbone.history.start();
  });
</script>
