<%= form_for @task, :html => { :class => 'form-horizontal' } do |f| %>
  <%= hidden_field(:task, :priority)%>
  <div class="control-group">
      <%= f.text_area :title, :class => 'span12',:size=>'24x3', :placeholder => "Title"%>
  </div>

  <div class="control-group">
      <%= f.text_area :description, :class => 'span12',:size=>'24x3',:placeholder => "Description" %>
  </div>

  <div class="control-group pull-right">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <%= f.submit nil, :class => 'btn btn-primary' %>
  </div>
<% end %>
