<%= form_for @task, :html => { :class => 'form-horizontal' } do |f| %>
  <%= hidden_field(:task, :priority)%>
  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :title, :class => 'text_area',:size=>'12x3' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, :class => 'text_area',:size=>'12x3' %>
    </div>
  </div>

  <div class="control-group pull-right">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <%= f.submit nil, :class => 'btn btn-primary' %>
  </div>
<% end %>
