<div class="row-fluid">
  <div class="span8">
    <dl>
      <dt id="task-title" data-toggle="manual" data-type="textarea"><%= title %></dt>
      <dd id="task-description" data-toggle="manual" data-type="textarea"><%= description %></dd>
    </dl>
    <div id="durations" class="row-fluid"></div>
  </div>
  <div class="span4">
    <div class="well" style="width:100%; padding: 1em 0;">
      <dl class="dl-horizontal">
        <dt style="width:100px">Scale</dt>
        <dd style="margin-left:120px">
          <div class="label"> 
            <span>$<%=scale%></span>  
          </div>
        </dd>
        <dt style="width:100px">Estimate</dt>
        <dd style="margin-left:120px">
          <div class="label label-info"> 
            <span><%=estimate%>H</span>  
          </div>
        </dd>
      </dl>
    </div>
  </div>
</div>
<div class="row-fluid">

      <div class="span12">
        <p></p>
        <p>
          <%if (partner_id!=null){%>
          <i class="icon-user"></i> by <a href="#"><%=owner.short_name%>&<%=partner.short_name%></a> 
          |
          <%}else{%>
          <%if (owner_id!=null){%>
          <i class="icon-user"></i> by <a href="#"><%=owner.short_name%></a> 
          |
          <%}%> 
          <%}%><i class="icon-calendar"></i> <%=created_at%>
          | <i class="icon-time"></i> <%=consuming%> Minutes
        </p>
      </div>
    