<div class="row" style="margin-top: 10em">
    <div class="span4 offset4">
      <div class="well">
        <legend>Sign in</legend>
        <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
            <%= bootstrap_flash %>   
            <div><%= f.email_field :email, :autofocus => true, :placeholder => "Email" %></div>
            <div><%= f.password_field :password , :placeholder => "Passwrod"%></div>
            <% if devise_mapping.rememberable? -%>
              <label class="checkbox"><%= f.check_box :remember_me %> <%= f.label :remember_me %></label>
            <% end -%>
            <div><%= f.submit "Sign in" ,:class =>"btn-info btn" %></div>
            <%= render "devise/shared/links" %>    
        <% end %>   
      </div>
    </div>
</div>